<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="create-blog content">
    <form action="/posts" method="post">
      <label for="startPoint">Start Point:</label>
      <input type="text" id="startPoint" name="startPoint" required>
      <label for="endPoint">End Point:</label>
      <input type="text" id="endPoint" name="endPoint" required>
      <label for="body">Post Body:</label>
      <textarea id="body" name="body" required></textarea>
      <button type="submit" >Submit</button>
    </form>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>